<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2>
        <h3 class="section-subheading text-muted">A little about us.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
          
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>October 2017</h4>
                <h4 class="subheading">Opening Day!</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  On October 3rd, 2017 we opened the doors to our first store! The reaction was very positive from our customers and we knew from this point forward we had a successful business idea on our hands.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
          
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>November 2018</h4>
                <h4 class="subheading">Our Online Store Is Launched!</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  On November 15th, 2018 we successfully launched our online store! Business has greatly been boosted and we are now able to satisfy customers across the country!
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>