<div class = "product">
    <p>
        <b>Name: </b> <%=link_to product.name, product%>
    </p>
    <p>
        <b>Price:</b> $<%= product.price%>
    </p>
    <p>
        <b>Item Type: </b> <%= product.item_type%>
    </p>
    <p>
        <b>Quantity: </b> <%= product.quantity%>
    </p>
</div>